@charset "utf-8";
/* CSS Document  共同样式 */
body,ul{margin:0;padding:0}
body{ font-family:Arial,"宋体"; background-color:#fff; font-size:12px; min-height:1000px; height:100%; _height:1000px;}
ul li{ list-style:none}
a{ outline:0; text-decoration:none; color:#315aaa}
a:active{ star:expression(this.onFocus=this.blur());}
a:hover{ text-decoration:underline}
button { border: 0 none; cursor: pointer; vertical-align: middle;}
form{ margin:0; padding:0;}


/* 某些页面的二级导航 */
#hd2011mainNav2 {
	clear:both;
	background:url(http://img03.zhaopin.cn/2012/img/my/v5/spri.gif) 0 -448px;
	height:30px; line-height:30px;
}
#hd2011mainNav2-Box {
	width:990px;
	margin:0 auto;
	overflow:hidden;
}
#hd2011mainNav2-Box li {
	float:left;
	margin: 2px 5px 0;
	height:27px; line-height:27px;
	_line-height:25px;
	padding:0 3px;
	border:1px solid transparent;
	_border-color:tomato; /*For IE6-*/ 
	_filter:chroma(color=tomato);/*For IE6-*/
	display:inline;
}
#hd2011mainNav2-Box li.hd2011current {
	background-color:#fff;
	border:1px solid #bcbcbc;
	border-bottom:0;
	border-radius: 2px 2px 0 0;
}
.hd201_listBody{ float:right;}
.hd201_listBody a{ line-height:30px; padding-left:15px;}

#guild{ width:990px; height:42px; margin:auto;}
#guild strong{ color:#315aaa; font-weight:bold}
#guild div{ float:left;line-height:42px;}
#guild span{ 
    height:25px;
    line-height:25px;
    margin-top:7px; 
    float:right;
    background-color:#fdf8d2;
    border:1px solid #dbc771;
    padding:0 15px;
}
#guild span a {
    _vertical-align:-7px;
}
.emailAll{ width:990px; margin:auto;}


/***导航下拉效果***/
.navBody1,.navBody2{ height:27px; padding:0 3px 0 7px; cursor:pointer; float:left;}
.nav_list{ height:27px; text-align:center; color:#315aaa; line-height:27px; float:left;}
.nav_list_icon{ width:15px; height:27px; background:url(http://img03.zhaopin.cn/2012/img/my/v5/resumes.gif) -6px -193px no-repeat; float:left}
.nav_listmain{ width:85px; border:1px #999 solid; box-shadow: 1px 1px 1px 1px #a6a6a6; display:none; position:absolute; background-color:#FFF;z-index:10;zoom:1;}
.nav_listmain_1{ width:100px; border:1px #999 solid; box-shadow: 1px 1px 1px 1px #a6a6a6; display:none; position:absolute; background-color:#FFF;z-index:10;}
.nav_title{ height:27px; padding:0 8px 0 12px; background-color:#E8E8E8;}
.nav_a{ color:#555;}
.nav_list_icon1{ width:15px; height:27px; cursor:pointer; background:url(http://img03.zhaopin.cn/2012/img/my/v5/resumes.gif) -20px -193px no-repeat; float:left}
.nav_list_content{ height:27px; margin:0 5px; line-height:27px; padding:0 7px;text-align:left; color:#315aaa; border-bottom-width:1px; border-bottom-style:solid; border-bottom-color:#E8E8E8;}

#guild .emailtips{
	display:inline-block;
	border:1px solid #dbc771;
	background-color:#fdf8d2;
	padding:1px 5px;
	position:relative;
	color:#315aaa;
	font-size:12px;
	line-height:21px;
	float:none;
	height:18px;
}
.emailtips em{
	display:block;
	position:absolute;
	width:4px;
	height:6px;
	background:url(http://my.zhaopin.com/images/newstips.png) no-repeat;
	left:-4px;
	top:5px;
}
.emailtips a{
	text-decoration:underline;
	font-style:normal;
    *vertical-align:2px!important;
 }
.emailtips i{
	color:#ff6702;
	text-decoration:none;   
	font-style:normal;
}
.newwidstyle{
	width:464px;
	background-color:#75a9f3;
	position:absolute;
	display:none;
}
#newwid2{
    height:285px;
}
.newwidstyle h2{
	height:30px;
	line-height:30px;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	padding-left:12px;
	background:url(http://img02.zhaopin.cn/2012/img/ui/popup_bg.png) repeat-x scroll 0 -116px blue;
}
.powerinfo1{
	margin:0 3px 3px 3px;
	padding:36px 0 70px 0;
	text-align:center;
	line-height:22px;
	color:#999;
	font-size:12px;
	background:url(http://my.zhaopin.com/images/newicon1.png) 140px 30px no-repeat #fff;
}
.powerinfo2{
	margin:0 3px 3px 3px;
	padding:10px 27px 10px 0;
	background:#fff;
	font-size:14px;
    line-height:28px;
}
#newwid2 .powerinfo2{
    height:231px;
}
.powerinfo2

.powerinfo1 span{
	color:#000;
	font-size:14px;
	font-weight:bold;
}
.newwidclose{
	position:absolute;
	top:6px;
	right:8px;
	line-height:16px;
	cursor:pointer;
	display:block;
	width:18px;
	height:18px;
	background:url(http://img02.zhaopin.cn/2012/img/ui/popup_bg.png) no-repeat scroll 0 -146px #FFFFFF;
}
.powerinfo2 th{
	text-align:right;
	width:112px;
	font-weight:normal;
	height:59px;
}
.powerinfo2 td{
	padding-left:10px;
}
.emailaddrr{
	padding:0 5px;
	border:1px solid #d6d6d6;
	width:240px;
	height:28px;
    line-height:28px;
}
.nextstepbtn{
	width:110px;
	height:35px;
	background:url(http://my.zhaopin.com/images/newbtn2.png) no-repeat;
	border:0;
	cursor:pointer;
}
.cancelbtn{
	width:110px;
	height:35px;
	background:url(http://my.zhaopin.com/images/newbtn3.png) no-repeat;
	border:0;
	margin-left:20px;
	cursor:pointer;
}
.msgtxt_email{
	font-size:12px;
	color:#ffa000;
    line-height:21px;
    font-weight:bold;
}
.msgtxt_ord{
	font-size:14px;
	color:#000;
	margin-bottom:15px;
	line-height:24px;
}
.msgtxt_ord a{
	font-weight:bold;
	text-decoration:underline;
	color:#000;
}
.newbtn4{
	width:148px;
	height:35px;
	background:url(http://my.zhaopin.com/images/newbtn4.png) no-repeat;
	display:inline-block;
}
.msgtxt_mid{
	text-align:center;
	margin-top:20px;
}
.msgtxt_email2{
	font-size:14px;
	color:#999;
	line-height:24px;
}
.msgtxt_email2 a{
	color:#315aaa;
}
.msg_error,.msg_warning,.msg_ok{
	font-size:12px;
	color:red;
}
#newwid2 .msg_error,#newwid2 .msg_warning,#newwid2 .msg_ok{
	background:none;
	border:0;
	height:auto;
    line-height:21px;
}
.inputTexte{
	background: url(http://my.zhaopin.com/images/new_v4/wrongicon.png) no-repeat 230px 8px;
	border: 1px solid #FF794A;
	font-size: 14px;
	height: 28px;
    padding:0 5px;
	line-height: 28px;
	width: 240px;
    overflow:hidden;
}
.inputTexts{
	background: url(http://my.zhaopin.com/images/new_v4/righticon.png) no-repeat 230px 8px;
	border: 1px solid #58CB8E;
	font-size: 14px;
	height: 28px;
    padding:0 5px;
	line-height: 30px;
	width: 240px;
}
.inputTexte input,.inputTexts input,.emailaddrr input{border:0;
    height:26px;
    line-height:26px;
    width:216px;
    overflow:hidden;
    font-size:14px;
}
.cenclebtn{background:none;border:1px solid #D6D6D6}
/*new*/
/*alert*/
.powerinfo4 {
	margin: 0 3px 3px 3px;
	padding: 30px 0px;
	background: #fff;
}
.f_xg {
	color: #3366FF;
}
.f_xg a {
	color: #3366FF;
	text-decoration: underline;
}
.f_xg a:link {
	color: #3366FF;
	text-decoration: underline;
}
.f_xg a:hover {
	color: #3366FF;
	text-decoration: underline;
}
.f_xg a:visited {
	color: #3366FF;
}
.f_xg a:active {
	color: #3366FF;
}
.mobile_num {
	padding: 0 5px;
	border: 1px solid #d6d6d6;
	width: 180px;
	height: 27px;
	line-height: 27px;
}
/*修改手机弹窗*/
.code_num{width:80px;height:27px;border:1px solid #d6d6d6;line-height:27px;}
.input_text_code{width:136px; height: 20px;padding: 10px; line-height:20px;border:none;background: #fff;font-size: 14px;color: #999; background:url(../images/inputtxt_bg2.png) 0px 0px no-repeat;  }

.btn_yz_array {width: 88px;height:28px;  background:#E3E3E3;  padding:0px 0px 0px 0px; font-size:14px;  text-align:center; border:none; border: 1px solid #D6D6D6;text-decoration:none; cursor:pointer;color:#333333; margin:0px 0px 0px 12px;}
.popupconfirmbtn {width:88px;height:29px;color:#9b0101;line-height:29px;font-size:14px;font-weight:bold;cursor:pointer;background:url("http://img02.zhaopin.cn/2012/img/ui/popup_bg.png") no-repeat 0 -87px;}
.f_hint{ font-size:12px; color:#999999;}
.f_yellow01{ color:#FE6700;  font-size:12px; line-height: 18px;}
.yz_success{ width:125px; height:32px; line-height:32px;margin:0 auto; display:block;}
.ico_true{ width:32px; height:32px; background:url(../images/ico_true.png) no-repeat 0 0px; }
.line_top{background:url(../images/line_top01.png) repeat-x 0px 0px; margin:0px 25px; text-align:center; font-size:12px; color:#999999; padding-top:10px; }
.yzi_td{color:#666;font-size:12px;line-height:22px;margin-bottom:10px;}
#popupInnerCon .tip-x-validate-error{  background: url("http://img03.zhaopin.cn/2012/img/my/v5/resume_tipsicon.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    height: 28px;
    padding-left: 19px; line-height: 28px; font-size:12px; color:#666666;}


.f_array{ color:#999; text-decoration:none;}
.input_text_code{width:136px; height: 20px;padding: 10px; line-height:20px;border:none;background: #fff;font-size: 14px;color: #999; background:url(../images/inputtxt_bg2.png) 0px 0px no-repeat;  }
.er{line-height:22px;color:#777;display:none; font-size:12px; padding-left:14px;}

  .newbtn5
    {
        width: 95px;
        height: 30px;
        background: url(http://my.zhaopin.com/images/mailyz-btn.jpg) no-repeat;
        display: inline-block;
    }

  
    .btn_line
    {
        border-bottom: 1px dashed #d6d6d6;
        text-align: center;
        padding-bottom: 25px;
    }

    .msgtxt_email2
    {
        color: #999999;
        font-size: 12px;
        line-height: 24px;
    }
.powerinfo2 .line_hight16{ line-height: 18px;}
.powerinfo3{
	margin:0 3px 3px 3px;
	padding:35px 40px;
	background:#fff;
	font-size:14px;
}
#popupInnerCon  .tip-x-validate-default{ height: 0px; line-height: 0px; font-size: 0px;}
.zp_mr_dateDiv_y .content .frameContainer .frame table td.line img{ height: 1px; float: left; }
.zp_mr_dateDiv_m .content .dataContainer table td.line img{ height: 1px; float: left; }
.zp_mr_dateDiv_y .content .frameContainer .frame table td{ padding: 2px 0px 2px 0px;}
.zp_mr_dateDiv_m .content .dataContainer table td{ padding: 2px 6px;}
.tip-x-validate-valid{ height: 0px; line-height: 0px; font-size: 0px;}

/*2015-4-20 消息中心弹层按钮*/
.newbuttongreen{cursor:pointer;background:#4CAF50;width:120px; height:36px;font-size:14px; color:#fff;text-align: center;text-decoration: none;font: lighter 12px/25px Arial, sans-serif; 
		     -webkit-border-radius: 5px;
		     -moz-border-radius: 5px;
			 border-radius: 5px; /*border-radius 设置圆角半径*/} 			 
.newbuttonwhite{cursor:pointer; width:120px; height:36px;color:#555; border:1px solid #ABA9A9; text-align: center;text-decoration: none;font: lighter 12px/25px Arial, sans-serif;		   -webkit-border-radius: 5px;
		    -moz-border-radius: 5px;
			 border-radius: 5px; /*border-radius 设置圆角半径*/} 
.cuewords{font-size:14px;font-weight:lighter;color:#EB6100;display:block; line-height:18px;}